* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    background-color:aquamarine;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

header,
footer {
    padding: 20px;  
}

button {
    border-radius: 5px;
    padding: 2px 4px;
}

.gameboard {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 600px;
    width: 600px;
}

.cell {
    border: solid 1px black;
    width: calc(100% / 10);
    height: calc(100% /10);
    text-align: center ;
}

.clickcolor {
    background-color: white;
}

.head-nav {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}

.el-cont {
    display: flex;
    align-items: center;
}

.el-cont h1 {
    margin-left: 10px;
}

.hide {
    display: none;
}

.show {
    display: flex;
}