* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    height: 100vh;
}

main {
    background-color:aquamarine;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header,
footer {
    background-color:red ;
    padding: 20px;  
}

.gameboard {
    background-color: brown;
    height: 600px;
    width: 600px;
}